.navbar-expand-lg .navbar-nav .nav-link {
  padding-right: 0;
  padding-left: 0;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.nav-link {
  &.nuxt-link-exact-active {
    @extend .text-underline-primary
  }

  &:hover {
    @extend .text-underline-primary
  }
}
