$white: #fff;
$gray-100: #e6e6e6;
$gray-200: #b3b3b3;
$gray-300: #9a999a;
$gray-400: #818081;
$gray-500: #676767;
$gray-600: #4e4d4e;
$gray-700: #353435;
$gray-800: #1b1a1b;
$gray-900: #020102;
$black: #1a0f19;

$primary: #FFD000;
$primary-dark-1: darken($primary, 35%);
$primary-dark-2: #e6bb00;
$primary-dark-3: #ddc593;
$primary-dark-4: #b3b0a4;
$primary-light-1: #fffdf5;
$secondary: #D90368;
$secondary-dark-1: darken($secondary, 10%);
$secondary-dark-2: #4f1c34;
$dark: $gray-900 !default;
$dark-brown: #724300;

$font-weight-base: 300;
$headings-font-weight: 600;
$display1-weight: 700;
$display2-weight: 700;
$display3-weight: 700;
$display4-weight: 700;
$display-line-height: 1.1;

$font-family-sans-serif: 'Palanquin', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$font-size-base: 0.9rem;
$h1-font-size: $font-size-base * 3.052;
$h2-font-size: $font-size-base * 2.441;
$h3-font-size: $font-size-base * 1.953;
$h4-font-size: $font-size-base * 1.563;
$h5-font-size: $font-size-base * 1.25;
$h6-font-size: $font-size-base;

$border-radius: .25rem;
$table-border-color: lighten($gray-100, 5%);
$table-cell-padding: 1rem;

$enable-responsive-font-sizes: true;

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1800px
);

$input-focus-box-shadow:  0px 0px 20px 0.1rem $secondary-dark-1;
$input-focus-border-color: $secondary-dark-1;
