---
layout: default
---

<div id="hero">
  <div id="mast" class="container">
    <div class="row py-4">
      <div class="col-md-8">
        <h1>Craft <b>delightful</b> search experiences.</h1>
        <p class="lead">Typesense is an open source, typo tolerant search engine that delivers fast and relevant
          results out-of-the-box.</p>
        <div class="row mt-5 mb-4">
          <div class="col-sm-3">
            <a href="/docs/{{ site.versions[0] }}/guide">
              <button class="btn btn-success btn-get-started text-left">
                <div class="small">Get started with</div>
                <div class="strong font-weight-bold">Open Source Version</div>
              </button>
            </a>
          </div>
          <div class="col-sm-3 ml-sm-5 mt-3 mt-sm-0">
            <a href="https://cloud.typesense.org">
              <button class="btn btn-success btn-get-started text-left">
                <div class="small">Deploy with</div>
                <div class="strong font-weight-bold">Typesense Cloud</div>
              </button>
            </a>
          </div>
        </div>
      </div>
      <div id="splash" class="col-md-4 d-none d-md-block"></div>
    </div>
  </div>
</div>

<div class="container">
  <div id="intro-demo" class="row">
    <div id="intro" class="col-md-6">
      <h3>Designed for speed <em>and</em> developer productivity.</h3>
      <p>Typesense has been built from scratch to offer a delightful, out-of-the-box search experience.</p>
      <p>From instant search, to autosuggest, to faceted search, Typesense has got you covered.</p>
    </div>
    <div id="goodreads-demo" class="col-md-6">
      <form id="goodreads-search">
        <input type="text" value="harry">
      </form>
      <div id="goodreads-results-nav">
        <div class="row no-gutters">
          <div class="col-xs-6">
            <small id="goodreads-found"></small>
          </div>
          <div id="pagenav" class="col-xs-6">
            <a id="prev-page" href="#previous">&laquo; Previous</a> /
            <a id="next-page" href="#next">Next &raquo;</a>
          </div>
        </div>
      </div>
      <ul id="goodreads-results"></ul>
    </div>
  </div>
</div>

<div class="mt-2">&nbsp;</div>

<div id="feature-block" class="container mt-5">
  <div class="row features">
    <div class="col-md-4 row">
      <div class="col-3">
        <i class="fas fa-keyboard fa-3x"></i>
      </div>
      <div class="col-9">
        <h3>Typo tolerant</h3>
        <p>Maek mistaeks while typing? Typesense has got your back!</p>
      </div>
    </div>

    <div class="col-md-4 row">
      <div class="col-3">
        <i class="fas fa-sort fa-3x"></i>
      </div>
      <div class="col-9">
        <h3>Easy ranking</h3>
        <p>Tailor your search relevance to perfection.</p>
      </div>
    </div>
    <div class="col-md-4 row">
      <div class="col-3">
        <i class="fas fa-bolt fa-3x"></i>
      </div>
      <div class="col-9">
        <h3>Blazing fast</h3>
        <p>Meticulously designed and optimized for speed.</p>
      </div>
    </div>

    <div class="w-100"></div>

    <div class="col-md-4 row">
      <div class="col-3">
        <i class="fas fa-smile fa-3x"></i>
      </div>
      <div class="col-9">
        <h3>Simply delightful</h3>
        <p>Simple API and delightful out-of-the-box experience.</p>
      </div>
    </div>

    <div class="col-md-4 row">
      <div class="col-3">
        <i class="fas fa-filter fa-3x"></i>
      </div>
      <div class="col-9">
        <h3>Facets &amp; filters</h3>
        <p>Allows you to drill-down and deep dive into the results.</p>
      </div>
    </div>

    <div class="col-md-4 row">
      <div class="col-3">
        <i class="fas fa-server fa-3x"></i>
      </div>
      <div class="col-9">
        <h3>Easy HA</h3>
        <p>It's trivial to add more nodes for high availability.</p>
      </div>
    </div>

  </div>
</div>

<div class="bg-light mb-5 mt-4">
  <div class="row py-4 d-flex justify-content-center">
    <div class="col-sm col-lg-2 d-flex justify-content-center">
      <a href="https://www.producthunt.com/posts/typesense?utm_source=badge-featured&utm_medium=badge&utm_souce=badge-typesense"
         target="_blank"><img
              src="https://api.producthunt.com/widgets/embed-image/v1/featured.svg?post_id=123903&theme=dark"
              alt="Typesense - Typo tolerant, delightfully simple, open source search 🔍 | Product Hunt"
              style="width: 171px; height: 36px;" width="171" height="36"/></a>
    </div>
    <div class="col-sm col-lg-1 d-flex justify-content-center mt-3 mt-sm-0">
      <a href="https://news.ycombinator.com/item?id=22181437" target="_blank">
        <img alt="Featured on Hacker News"
             src="https://hackerbadge.now.sh/api?id=22181437&type=dark"
             style="width: 171px; height: 36px;" width="171" height="36"
        />
      </a>
    </div>
  </div>
</div>
