---
layout: default
---
{% assign path_parts = page.url | split: "/" %}
{% assign path_parts_size = path_parts | size %}
{% assign version_parts_size = path_parts[1] | split: "." | size %}
{% assign page_version = "" %}
{% if page.url contains '.' %}
  {% if page.url contains '/premium' %}
    {% assign page_version = " - Premium v" | append: path_parts[2] %}
  {% else if path_parts_size == 4 and version_parts_size > 1 %}
    {% assign page_version = " - v" | append: path_parts[2] %}
  {% endif %}
{% endif %}

<div id="hero">
  <div id="mast" class="container">
    <div class="row">
      <div class="col-md-8">
        <h2 class="my-3">{{ page.title | escape }}{{ page_version }}</h2>
      </div>
    </div>
  </div>
</div>

<div class="container content">
  {{ content }}
</div>
