#hero {
    color: #fff;
    padding: 0 0.5em 0 0.5em;
    background-color: #006;
    border-top: 3px solid #006699;
    border-bottom: 3px solid #006699;
}

.col-centered{
    float: none;
    margin: 0 auto;
}

.navbar-default {
    background: none;
    border: 0;
    box-shadow: none;
}

a.navbar-brand {
    padding-top: 0;
    padding-left: 0;
}

a.navbar-brand img {
    height: 3em;
}

.navbar ul.nav a {
    font-size: 1.3em;
    font-weight: 300;
}

.navbar .col-centered {
    padding-left: 0.2em;
}

#mast {
    padding-top: 0.3em;
    margin-left: 0;
}

#mast #splash {
    background: #006 url('../images/rocket_color.gif') no-repeat right 7em top 3em;
    background-size: 55%;
    height: 14em;
}

#mast h2 {
    font-weight: normal;
}

#mast #get-started {
    font-size: 1.4em;
    margin: 1em 0 1.5em 0;
}

#intro-demo {
    padding-left: 0;
    margin-top: 1em;
}

#intro-demo p {
    font-size: 1.4em;
}

#intro p {
    font-size: 1.4em;
    margin-top: 1em;
    color: #333;
}

#goodreads-demo {
    margin-top: 1em;
}

form#goodreads-search input {
    width: 100%;
    padding: 1em;
    margin: 0;
    border: 1px solid #ccc;
}

p#goodreads-found {
    font-size: 1em;
    margin: 1em 0 1em 0;
}

ul#goodreads-results {
    list-style: none;
    padding: 0;
    margin: 2em 0 0 0;
}

#goodreads-results li {
    width: 8.5em;
    height: 12em;
    float: left;
    margin: 0 1em 1em 0;
    font-size: 0.8em;
}

#goodreads-results img {
    display: block;
    margin-bottom: 0.5em;
}