<nav class="navbar navbar-expand-lg container navbar-light">
  <a class="navbar-brand" href="{{ "/" | relative_url }}">
    <img src="/assets/images/typesense_logo.svg" alt="{{ site.title | escape }}" width="254"/>
  </a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  {% assign nav_paths = site.nav_pages %}
  {% assign path_parts = page.url | split: "/" %}
  {% assign page_version = path_parts[1] %}
  {% assign version_parts_size = page_version | split: "." | size %}
  {% if version_parts_size <= 1 %}
    {% assign page_version = site.versions[0] %}
  {% endif %}

  {% assign guide_path = "docs" | append: "/" | append: page_version | append: "/" | append: "guide.html" %}
  {% assign api_path = "docs" | append: "/" | append: page_version | append: "/" | append: "api.html" %}

  {% if nav_paths %}
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      {% for path in nav_paths %}
        {% if path contains "guide" %}
          {% assign page_x = site.pages | where: "path", guide_path | first %}
        {% elsif path contains "api" %}
          {% assign page_x = site.pages | where: "path", api_path | first %}
        {% else %}
          {% assign page_x = site.pages | where: "path", path | first %}
        {% endif %}

        {% if page_x.title %}
          {% assign active_str = "" %}
          {% if page.url == page_x.url %}{% assign active_str = " active" %}{% endif %}

          {% assign page_url = page_x.url | relative_url %}

          <li class="nav-item{{ active_str}} ml-2">
            <a class="nav-link" href="{{ page_url }}">{{ page_x.nav_label | escape | downcase }}</a>
          </li>
        {% endif %}
      {% endfor %}
      <li class="nav-item" id="github-nav">
        <a class="nav-link" href="https://github.com/typesense/typesense">github</a>
      </li>
      <!--<li class="nav-item">-->
        <!--<input type="text" id="doc-search" placeholder="Search the docs" />-->
      <!--</li>-->
    </ul>
  </div>
  {% endif %}
</nav>
