@import url(monokai.css);

#hero {
    color: #fff;
    background-color: #006;
    border-top: 3px solid #006699;
    border-bottom: 3px solid #006699;
}

code.nowrap {
    white-space: nowrap;
}

.container.content {
    margin-top: 1.3em;
}

a.navbar-brand {
    padding-top: 0;
    padding-left: 0;
    margin-right: 1em;
}

a.navbar-brand img {
    height: 3em;
}

.navbar ul.navbar-nav a {
    font-size: 1.3em;
    font-weight: 300;
}

#navbar-docs {
    padding-left: 0;
}

#navbar-docs nav nav a {
    font-size: 90%;
}

#navbar-docs a {
    padding-bottom: 0.25em;
    padding-top: 0.25em;
    margin-bottom: 0 !important;
}

#mast {
    margin-top: 1em;
}

#mast #splash {
    background: #006 url('/assets/images/rocket_color.gif') no-repeat right 7em top 2em;
    background-size: 55%;
    height: 14em;
}

#mast h2 {
    font-weight: normal;
}

.btn-get-started {
    font-size: 1.2em;
    margin: 1em 0 1.5em 0;
}

#intro-demo {
    margin-top: 1em;
}

#intro-demo p {
    font-size: 1.4em;
}

#intro {
    margin-top: 1em;
}

#intro p {
    font-size: 1.4em;
    margin-top: 1em;
    color: #333;
}

#goodreads-demo {
    margin-top: 1em;
}

form#goodreads-search input {
    width: 100%;
    padding: 1em;
    margin: 0;
    border: 1px solid #ccc;
}

#goodreads-results-nav {
    margin: 1em 0 1em 0;
}

#goodreads-found {
    font-size: 0.9em;
}

#goodreads-results-nav a {

}

#goodreads-results-nav a.disabled {
    color: #ccc;
    text-decoration: none;
}

#goodreads-results-nav #pagenav {
    text-align: right;
}

ul#goodreads-results {
    list-style: none;
    padding: 0;
    margin: 2em 0 0 0;
}

#goodreads-results li {
    width: 7.5em;
    height: 12em;
    float: left;
    margin: 0 1em 1em 0;
    font-size: 0.8em;
}

#goodreads-results img {
    display: block;
    margin-bottom: 0.5em;
    max-height: 50%;
}

#goodreads-results mark {
    background-color: #c6dde9;
}

#release-downloads dt {
    margin-top: 20px;
}

#feature-block {
    border-top: 1px solid #ccc;
}

.features {
    margin-top: 2.5em;
}

.features i {
    color: #333;
}

#feature-block .w-100 {
    height: 1em;
}

.features .fa-keyboard.fa-3x {
    font-size: 2.50em;
}

.features .fa-sort.fa-3x {
    font-size: 3.75em;
}

.features .fa-bolt.fa-3x {
    font-size: 3.75em;
}

.features .fa-server.fa-3x {
    font-size: 2.75em;
}

.features h3 {
    margin-top: -0.25em;
    color: #006;
}

#doc-col table {
    font-size: 90%;
}

#doc-col h3, #doc-col h4 {
    margin: 0 0 1em 0;
    color: #006;
}

#doc-col .nav-tabs {
    margin-bottom: 0 !important;
}

#doc-col .tab-content {
    margin-bottom: 2em;
}

#doc-col .tab-content .highlight {
    padding: 0.5em 0 0.5em 0.5em;
}

#doc-col .tab-content .highlight code {
    color: #fff;
}

#doc-col .tab-content .highlight pre {
    margin-bottom: 0;
}

#footer {
    border-top: 1px solid #ccc;
    margin-top: 1em;
}

#footer h6 {
    margin: 1em 0 1em 1em;
}