@import url(monokai.css);
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

body {
    font-family: 'Roboto', sans-serif;
}

#hero {
    color: #fff;
    background-color: #006;
}

#hero h1 {
    line-height: 1.1;
}

code.nowrap {
    white-space: nowrap;
}

.container.content {
    margin-top: 1.3em;
}

a.navbar-brand {
    padding-top: 0;
    padding-left: 0;
    margin-right: 1em;
}

a.navbar-brand img {
    height: 3em;
}

.navbar ul.navbar-nav a {
    font-size: 1.1em;
    font-weight: 300;
}

.navbar li#github-nav {
    margin-right: 0.5em;
}

.navbar-light .navbar-nav .active>.nav-link {
    color: #006699;
    font-weight: bold;
}

li.nav-item #doc-search {
    margin-top: 0.6em;
    padding: 0.4em 0.4em 0.4em 2em;
    font-size: 0.8em;
    background-image: url("data:image/svg+xml;base64,PHN2ZyBoZWlnaHQ9IjEwMCUiIHZpZXdCb3g9IjAgMCAxNSAxNSIgd2lkdGg9IjEwMCUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+CiAgPHBhdGggZD0iTTEwLjA1MiAxMC44OGMtMS4xLjkxLTIuNDgzIDEuNDA2LTMuOTEgMS40MDNDMi43NSAxMi4yODMgMCA5LjUzMyAwIDYuMTQgMCAyLjc1IDIuNzUgMCA2LjE0MiAwYzMuMzkyIDAgNi4xNCAyLjc1IDYuMTQgNi4xNDIgMCAxLjQ4NS0uNTI2IDIuODQ3LTEuNDAzIDMuOTFsMy45NSAzLjk1Yy4yMjcuMjI3LjIyOC41OTYtLjAwMi44MjYtLjIyOC4yMjctLjU5Ny4yMjgtLjgyNiAwbC0zLjk1LTMuOTV6bS0zLjkxLjIzNGMyLjc0NSAwIDQuOTcyLTIuMjI3IDQuOTcyLTQuOTcyIDAtMi43NDctMi4yMjctNC45NzItNC45NzItNC45NzItMi43NDcgMC00Ljk3MiAyLjIyNS00Ljk3MiA0Ljk3MiAwIDIuNzQ1IDIuMjI1IDQuOTcyIDQuOTcyIDQuOTcyeiIgZmlsbC1ydWxlPSJldmVub2RkIiBmaWxsPSIjY2NjIj48L3BhdGg+Cjwvc3ZnPg==");
    background-size: 1.2em 1.2em;
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: 0.3em;
    border: 1px solid #ccc;
    outline: 0;
}

#doc-version {
    margin-bottom: 1em;
}

#navbar-docs {
    padding-left: 0;
    margin-top: 2em;
}

#navbar-docs nav nav a {
    font-size: 90%;
    padding-top: 0;
}

#navbar-docs a {
    padding-bottom: 0.25em;
    padding-top: 0.25em;
    margin-bottom: 0 !important;
}

a.collapsed + nav {
    display: none;
}

#mast h2 {
    font-weight: normal;
}

.btn-get-started {
    min-width: 200px;
    background-color: #2c9e46;
    border-color: #2c9e46;
}



#intro-demo {
    margin-top: 1em;
}

#intro {
    margin-top: 1em;
}

#intro p {
    margin-top: 1em;
    color: #333;
}

#goodreads-demo {
    margin-top: 1em;
}

form#goodreads-search input {
    width: 100%;
    padding: 1em;
    margin: 0;
    border: 1px solid #ccc;
}

#goodreads-results-nav {
    margin: 1em 0 1em 0;
}

#goodreads-found {
    font-size: 0.9em;
}

#goodreads-results-nav a {

}

#goodreads-results-nav a.disabled {
    color: #ccc;
    text-decoration: none;
}

#goodreads-results-nav #pagenav {
    text-align: right;
}

ul#goodreads-results {
    list-style: none;
    padding: 0;
    margin: 2em 0 0 0;
}

#goodreads-results li {
    width: 7.5em;
    height: 12em;
    float: left;
    margin: 0 1em 1em 0;
    font-size: 0.8em;
}

#goodreads-results img {
    display: block;
    margin-bottom: 0.5em;
    max-height: 50%;
}

#goodreads-results mark {
    background-color: #c6dde9;
}

#release-downloads dt {
    margin-top: 20px;
}

#feature-block {
    border-top: 1px solid #ccc;
}

.features {
    margin-top: 3em;
}

.features i {
    color: #333;
}

#feature-block .w-100 {
    height: 1em;
}

.features .fa-keyboard.fa-3x {
    font-size: 2.50em;
}

.features .fa-sort.fa-3x {
    font-size: 3.75em;
}

.features .fa-bolt.fa-3x {
    font-size: 3.75em;
}

.features .fa-server.fa-3x {
    font-size: 2.75em;
}

.features h3 {
    margin-top: -0.25em;
    color: #006;
}

#doc-col table {
    font-size: 90%;
}

#doc-col h3, #doc-col h4 {
    margin: 0 0 1em 0;
    color: #006;
}

#doc-col .nav-tabs {
    margin-bottom: 0 !important;
}

#doc-col .tab-content {
    margin-bottom: 2em;
}

#doc-col .tab-content .highlight {
    padding: 0.5em 0 0.5em 0.5em;
}

#doc-col .tab-content .highlight code {
    color: #fff;
}

#doc-col .tab-content .highlight pre {
    margin-bottom: 0;
}

#footer {
    border-top: 1px solid #ccc;
    margin-top: 1em;
}

#footer h6 {
    margin: 1em 0 1em 1em;
    color: #333;
    font-size: 0.8em;
    font-weight: normal;
}

/* premium page */
.btn-purchase {
    height: 3em;
}

.feature-block {
    margin-bottom: 2em;
}

.feature-block img {
    float: left;
    margin-right: 1.5em;
    width: 74px;
    height: auto;
}

#premium-sidebar {
    margin-top: 3em;
}

p#money-back {
    font-size: 0.9em;
    margin-top: 1em;
}

/* Demos */

#movies-results, #movies-results li {
    margin-left: 0;
    padding-left: 0;
    list-style: none;
}

#movies-results {
    margin-top: 15px;
}

#movies-results li {
    margin-bottom: 10px;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 90px;
}

footer.navbar {
    position: absolute;
    bottom: 0;
    margin-top: 20px;

    font-size: 0.85em;
}

table.feature-list th {
    width: 20%;
}
